<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">

  <title>Tiny App</title>
</head>

<body>
  <% if (typeof user!== 'undefined'){ %>
<div class="jumbotron">
  <h1 class="display-4">Welcome! <%=user.email%></h1>
  <form action="/logout" method="POST">
      <input class ="btn btn-warning" type="submit" value="Logout">
        </form>
  <hr class="my-4">
  
  <% } else { %>
<div class="jumbotron">
  <h1 class="display-4">Tiny App!</h1>
  <p class="lead">This is where magic happens, with a simple click you can shrink your crazy long URL! </p>
  <hr class="my-4">
   <h3> <a href="/Register"class="badge badge-primary badge-lg">Register</a> 
    <a href="/Login"class="badge badge-secondary badge-lg">Login</a> </h3>

</div>
  <% } %>
</body>

</html>